@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto|Staatliches');

body {
    position: relative;
    margin: 0;
    background-image: url('images/BACKGROUND-FOOTPRINT.png');
}

#logoheader {
    max-width: -3px;
}

.logoheader {
    max-width: 216px;
}

.bg-color {
    background: #DFDF00;
}

.lownav {
    background: #DFDF00;
    max-height: 66px;
    padding: 0;
}

.iconscont {
    min-width: 20%;
    max-height: 48px;
    color: #000000;
}

.icon {
    max-width: 60;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    display: block;
    max-height: 30px;
}

.lownavrow {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.maincontent {
    margin-top: 22px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 2%;
}

.greybutton {
    width: 50%;
    background: #7B7B7B;
    border-radius: 6px;
    font-family: Staatliches;
    color: #ffffff;
    font-size: 9vw;
    text-align: center;
}

.navtext {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0;
    font-family: Questrial;
    padding-left: 0;
    padding-right: 0;
}

.emptyspace {
    height: 96px;
    width: 100%;
}

.readmore {
    text-align: right;
}

.hastagsp {
    font-family: Questrial;
    font-size: 0.8rem;
    margin-top: -6px;
    margin-bottom: 0;
    color: #a1a1a1;
    margin-left: 8px;
}

.contverloren {
    margin-left: auto;
    margin-right: auto;
}

.welcomeimage {
    width: 100%;
}

.lostimage {
    width: 100%;
    object-position: 4px;
}

.lostrow {
    display: flex;
    margin-right: 2px;
    margin-top: 4px;
}

.lostcolumn {
    margin-right: 6;
    margin-left: 6;
}

.lostcolumn {
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 8px;
    border: 2px solid #efefef;
}

.locationicon {
    margin-right: 2px;
}

.locationhas {
    margin-top: -2px;
}

.gegevensverloren {
    font-family: Staatliches;
    color: #728884;
    font-size: 14px;
}

.dataverloren {
    color: #728884;
    font-size: 14px;
}

.imagelostmain {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.imagelost {
    object-fit: cover;
    width: 100%;
    height: 80px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

h4small {
    font-size: 4px;
}

.greybuttonsmall {
    width: 100%;
    background: #7B7B7B;
    border-radius: 6px;
    font-family: Staatliches;
    color: #ffffff;
    font-size: 7vw;
    text-align: center;
}

.buttongreen {
    background-color: #DFDF00;
    border: 5px;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    text-decoration-color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 25%;
    width: 100%;
}

.emergencytext {
    font-family: Questrial;
    font-size: 12px;
    margin-top: 6px;
}

.emergencybuttoncol {
}

.emergencytextspacing {
    margin-bottom: 0px;
    margin-top: 0px;
}

.miniicons {
    margin-right: 8px;
}

.defaulttext {
    font-family: Questrial;
    font-size: 12px;
    margin-top: 6px;
}

.buttongreen2 {
    background-color: #DFDF00;
    border: 5px;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    text-decoration-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.navbutton:active {
    border-radius: 0;
    border-style: none;
    background: #e2e6ea;
}

.navbutton {
    border-radius: 0;
    border-style: none;
    background: #DFDF00;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.navlink {
    width: 100%;
}

.navcolumn {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.navcolumn {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}