body {
    position: relative;
    margin: 0;
    background-image: url('images/BACKGROUND-FOOTPRINT.png');
}

#logoheader {
    max-width: -3px;
}

.logoheader {
    max-width: 216px;
}

.bg-color {
    background: #DFDF00;
}

.lownav {
    background: #DFDF00;
    max-height: 74px;
}

.iconscont {
    min-width: 20%;
    max-height: 48px;
}

.icon {
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    left: 0px;
    display: block;
}

.lownavrow {
    display: flex;
}

.maincontent {
    margin-top: 22px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 2% 4px;
}

.greybutton {
    width: 100%;
    background: #7B7B7B;
    border-radius: 6px;
    font-family: Staatliches;
    color: #ffffff;
    font-size: 9vw;
    text-align: center;
}

.navtext {
    text-align: center;
    font-size: 13px;
}

.emptyspace {
    height: 96px;
    width: 100%;
}

.readmore {
    text-align: right;
}

.hastagsp {
    font-family: Questrial;
    font-size: 0.8rem;
    margin-top: 0;
}

.contverloren {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.welcomeimage {
    width: 100%;
}