body {
    position: relative;
    margin: 0;
    background-image: url('images/BACKGROUND-FOOTPRINT.png');
}

#logoheader {
    max-width: -3px;
}


h5 {
	font-family: 'Staatliches', cursive;
	font-size: 20px; 
	color:#707070;
}

h6 {
	font-family: 'Questrial', sans-serif;
	font-size: 15px;
	color:#707070;
}

.logoheader {
    max-width: 216px;
}

.bg-color {
    background: #DFDF00;
}

.lownav {
    background: #DFDF00;
    max-height: 72px;
}

.iconscont {
    min-width: 20%;
}

.icon {
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    left: 0px;
    display: block;
}

.form-text {
	display: flex; 
	justify-content: center; 
}

.button {
}

.lownavrow {
    display: flex;
}

.maincontent {
    margin-top: 22px;
    margin-left: 5%;
    margin-right: 5%;
	margin-bottom: 55px; 
    background-color: #ffffff;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2);
    padding: 4px 2%;
}

.align-content-row {
	max-width: 30px;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 10px; 
	height: auto; 
    width: 25px;
    display: flex;
	justify-content: space-between;

	 
}



    margin-left: 6;



